.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  margin-top: 30px;
}

.page-number {
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  background-color: rgb(182, 227, 245);
  border-radius: 8px;
}

.a {
  text-decoration: none;
  color: rgb(103, 101, 236);
  padding: 2px 10px;
}
